.welcomeSection {
	overflow: hidden;
	display:flex;
	height: 100vh;
}
.leftSection {
	width: 50%;
	float: left;
	display:inline-block;
	background-image: url(../../images/home.png);
	background-size: cover;
}
.leftSection img{
	object-fit: cover;
}
.rightSection {
	padding-top: 100px;
	width: 50%;
	float: left;
	display:inline-block;
}

#dominikanska,
#dominikanskaSection {
    background-image: url(../../images/dominikanska.JPG);
    background-size: cover;
}

#thailand,
#thailandSection {
    background-image: url(../../images/thailand.jpg);
    background-size: cover;
}
#indonesien,
#indonesienSection {
    background-image: url(../../images/thailand.jpg);
    background-size: cover;
}

#scrolling-slide-1 {
    background-image: url(../../images/thailand.jpg);
    background-size: cover;
}
.carouselPic1 {
	background-image: url(../../images/pic1.jpeg);
    background-size: cover;
}
.carouselPic2 {
	background-image: url(../../images/pic2.jpg);
    background-size: cover;
}
.carouselPic3 {
	background-image: url(../../images/pic3.jpeg);
    background-size: cover;
}
.carouselPic4 {
	background-image: url(../../images/pic4.jpeg);
    background-size: cover;
}
.carouselPic5 {
	background-image: url(../../images/pic5.jpg);
    background-size: cover;
}
.slider-container {
	margin-bottom: 50px;
}
.contentSlide {
	background-color: rgb(74, 111, 177);
}

